################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto_POO_Rep/FileContentIndex/1b1044dc-30c7-4d9b-a411-6005902cb845.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/5734855e-8e93-4c49-93c8-6e9601ec95ff.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/5be20ec3-61c4-4dad-ba5b-18cb680b9e1b.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/913bf381-c981-4378-b7d6-168089aa6f1c.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/b6b3dfdf-4eb0-4cd0-a2b6-e6b58d172925.vsidx
/.vs/slnx.sqlite
/.vs/Proyecto_POO_Rep/FileContentIndex/20e8629c-b05e-4fbc-9dff-6645c2b6939f.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/70ae435b-9a17-4d2e-ae12-54d074d81b36.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/765cf8a8-487d-4be0-85af-44348a3d3896.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/8a1d289b-887d-47a3-a8af-745b92ee5139.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex/14b068ea-2431-4218-8b5d-c8347bd42863.vsidx
/.vs/Proyecto_POO_Rep/FileContentIndex
