################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto_POO_Rep/FileContentIndex/6e5d4f63-eb7a-496f-abfe-a9cde1794909.vsidx
/.vs/slnx.sqlite
/.vs/Proyecto_POO_Rep/FileContentIndex/69bc8d51-bb9f-4f5b-95fb-22d17ac11bea.vsidx
